html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
#assignment1 {
    background-color: #EF476F;
    width: 43%;
    border-radius: 18px;
    border: none;
    transition: 0.5s;
    text-decoration: none;
    outline: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body nav {
    color: #5F6368;
}
body nav {

}
blockquote:before, blockquote:after,
q:before, q:after {
    float: left;


}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


main {
  	transition: 0.5s;
}
body {
	display: inside;
	width: 100%;
	height: 100%;
	font-family: "Moniker";
	color: #f8f9fa;
}
header {
	border-bottom: 2px solid #e9ecef;
}
.header {
	font-family: "Bree";
	font-weight: 700;
	font-size: 30px;
	padding-top: 5px;
	color: #5f6368;
}
.sideBar-container {
	display: flex;
	flex-direction: column;
	width: 300px;
	height: 100%;
	margin-left: -300px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	color: #5f6368;
	background-color: white;
	border-right: 2px solid #e9ecef;
	overflow-x: hidden;
	transition: 0.5s;
}
.inner-sidebar-containers {
	margin: 20px 0 0;
}
.inner-sidebar-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 20px 30px;
    transition: 0.5s;
}
.border-bottom {
    content: "";
    display: block;
    margin: auto;
    width: 80%;
    border-bottom: 3px solid #e9ecef;
}
.inner-sidebar-container a {
	text-decoration: none;
	width: 100%;
	color: #5f6368;
}
.inner-sidebar-container:hover {
	background: #edf2f4;
}
.inner-sidebar-container img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.menu-flex-item1 img {
	width: 20px;
	height: 20px;
	padding: 5px;
}
.menu-flex-item1:hover {
	background: #edf2f4;
	transition: 0.5s;
}
.menu-flex-item1 {
	float: left;
	width: 30px;
	height: 30px;
	padding: 10px;
	border-radius: 33px;
	margin: 10px;
}
.menu-flex-item2 {
    float: left;
    margin-top: 5px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 10px;
}
.menu-flex-item3 {
	float: right;
	width: 15px;
	margin: 20px 20px 0 0;
	padding-top: 2px;
	border-radius: 100px;
	border-width: thin;
}
section ul li {
	list-style: none;
	text-align: center;
	margin-top: 10px;
}
section ul li a {
	color: #f8f9fa;
	text-decoration: none;
	font-size: 30px;
	font-weight: 900;
	padding: 0 0 0 0;
}
section {
	margin: 40px 50px 0 30px;
}
.side-flex-container {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 20px 30px 20px 0;
	padding: 35px 15px;
	border-bottom: 2px solid #e9ecef;
	border-right: 2px solid #e9ecef;
	border-top: 2px solid #e9ecef;
	border-radius: 0 20px 20px 0;
}
.flex-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.flex-item {
	width: 280px;
	height: 50px;
	margin: 20px 0;
	padding: 0 0 150px 0;
    border-radius: 20px 0 0 20px;
}
.class-id {
	padding-bottom: 10px;
}
.description p {
	font-size: 20px;
	font-weight: 500;
	text-align: left;
	margin-left: 20px;
}
.flex-item a:hover {
	text-decoration: underline;
}
.li1 {
	background-color: #EF476F;
}
.li2 {
	background-color: #FFD166;
}
.li3 {
	background-color: #06D6A0;
}
.li4 {
	background-color: #118AB2;
}
.li5 {
	background-color: #9d4edd;
}
.li6 {
	background-color: #ff9e00;
}

/*---------------------
document 2*/

.navbar {
    overflow: hidden;
    border-bottom: 2px solid #e9ecef;
}
.menu-item {
    float: left;
    list-style-type: none;
}
.menu-item-image img {
    width: 20px;
	height: 20px;
	padding: 5px;
}
.menu-item-image {
    width: 30px;
	height: 30px;
	padding: 10px;
	border-radius: 33px;
	margin: 10px;
}
.class-title {
    text-align: center;
    color: #EF476F;
    font-size: 50px;
    margin-top: 30px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 30px;
    font-weight: 900;
}
.title-border::after {
    content: "";
    display: block;
    width: 54%;
    padding-top: 0px;
    border-bottom: 7px solid #5F6368;
    border-top-color: #5F6368;
    border-right-color: #5F6368;
    margin: auto;
    border-left-color: #5F6368;
    border-top-width: 7px;
    border-right-width: 7px;
	border-left-width: 7px;
}
.assignment h1 {
    padding: 20px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 900;
    text-align: left;
    color: #f8f9fa;
}
.assignment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.assignment {
    background-color: #EF476F;
    width: 35%;
    border-radius: 18px;
    border: none;
    transition: 0.5s;
    text-decoration: none;
    margin: 10px;
    outline: none;
    overflow: hidden;
}
.assignment:hover {
    cursor: pointer;
}
.assignment h1 {
  float: left;
}
.assignment h1 small {
  font-size: 15px;
  font-weight: 900;
  font-style: italic;
  color: #ffd166;
}
.box {
  margin: 20px 20px 0 0;
  float: right;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ef476f;
  border-radius: 50%;
}
.tilt {
	transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-webkit-transform: rotate(3deg);
}

.portlet {
	margin: 0 1em 1em 0;
	padding: 0.3em;
}
	.portlet-header {
	padding: 0.2em 0.3em;
	margin-bottom: 0.5em;
	position: relative;
}
.portlet-toggle {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -8px;
}
.portlet-content {
	padding: 0.4em;
}
.portlet-placeholder {
	border: 1px dotted black;
	margin: 0 1em 1em 0;
}
.main2 {
	float: none;
}
.chat-menu {
	float: right;
	margin: 0 50px 20px 0;
	border-radius: 20px;
	transform: scaleX(-1);
	background: red;
}
.bottom-menu {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}
.search-bar {
	float: right;
	list-style: none;
	margin: 20px 100px 0 0;
	font-weight: 900;
}
input {
	width: 300px
}
